@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');
$color1: #4b7bec;
$color2: #2c68f3;
.contenedor-signin{
  font-family: Nunito;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-signin-card{
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  h2{
    font-size: 35px;
    font-weight: 200;
  }

  form{
    display: flex;
    justify-items: center;
    flex-direction: column;
  }

  form > input{
    width: 20rem;
    margin-bottom: 0.60rem;
    padding: 0.40rem;
    display: block;
  }

  form > input:nth-child(1){
    margin-top: 2rem;
  }

  form > input:nth-child(2){
    margin-top: 0.60rem;
  }

  form > button {
    cursor: pointer;
    margin: 0.60rem 0rem 0.60rem 0rem;
    padding: 0.60rem;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background: $color1;
  }

  form > button:hover {
    background: $color2;
  }

  form > input:focus{
    outline: none;
    border: 1px solid $color1;
    border-radius: 3px;
  }
}
