<section class="contenedor-signin">
    <div class="contenedor-signin-card">
      <h2>Inicio de secion</h2>
      <form (submit)="iniciarSecion()" #form="ngForm">
        <input type="text" placeholder="Mail" [(ngModel)]="this.User.email" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="Contraceña" [(ngModel)]="this.User.password" [ngModelOptions]="{standalone: true}">
        <button type="submit">iniciar secion</button>
      </form>
      <div class="rediriguir-signup">
        Si no contiene una cuenta
        <a routerLink="/signup" routerLinkActive="true">
          registrate
        </a>
      </div>
    </div>
</section>

<router-outlet></router-outlet>
