<div class="contenedor-modificar">
  <div class="contenedor-card-task">
    <div class="contenedor-exit">
      <a (click)=" ModificarTarea(); this.close.emit(null)" class="buttonIcon">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </a>
    </div>
    <div class="contenedor-info">
      <input type="text" placeholder="Titulo de la tarea" [(ngModel)]="this.task.titulo" [ngModelOptions]="{standalone: true}">
      <textarea name="" id="" cols="30" rows="10" placeholder="Descripcion de la tarea" [(ngModel)]="this.task.descripcion" [ngModelOptions]="{standalone: true}"></textarea>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <label>Estado de la tarea:</label>
        <mat-form-field appearance="fill">
          <mat-label>Seleccione el estado</mat-label>
          <mat-select [(value)]="selected" [(ngModel)]="this.task.estados" [ngModelOptions]="{standalone: true}">
            <mat-option value="0">Ninguna</mat-option>
            <mat-option value="1">Alta</mat-option>
            <mat-option value="2">Media</mat-option>
            <mat-option value="3">Baja</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <mat-divider></mat-divider>
        <br>

        <label>Fecha de comienzo de la tarea:</label>
        <mat-form-field appearance="fill" >
          <mat-label>Fecha de Comienzo</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="this.task.fecha_inicio" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
        <mat-divider></mat-divider>
        <br>

        <label>Fecha de finalizacion de la tarea:</label>
        <mat-form-field appearance="fill" >
          <mat-label>Fecha de Finalizacion</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="this.task.fecha_finalizacion" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

    </div>
  </div>
</div>
