@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
$color1: #4b7bec;
$color2: #2c68f3;

.contenedor-modificar{
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  background: rgba(203, 203, 203, 0.47);
  width: 100%;
  height: 100%;
}

.contenedor-card-task{
  z-index: 30;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 70rem;
  height: 50rem;
  border-radius: 0.50rem;

  display: block;
}

.contenedor-exit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-info{
  display: flex;
  align-items: center;
  flex-direction: column;

  &>input, &>textarea, &>mat-form-field, &>mat-form-field, &> label{
    font-family: Roboto;
    outline-style: none;
    display: block;
  }

  &>mat-divider{
    width: 90%;
  }

  &>input, &>textarea{
    outline-style: none;
    border: none;
    background: rgba(236, 235, 235, 0.11);
    border-radius: 3px;
    width: 90%;
    margin: 0.30rem 0rem 0.30rem 0rem;
  }

  &>input:focus, &>textarea:focus{
    background: rgba(236, 235, 235, 0.45);
  }

  &>input{
    font-size: 30px;
    font-weight: 800;
  }

  &>textarea{
    resize: none;
    font-size: 15px;
    font-weight: 400;
  }

  &>div{
    display: flex;
    flex-direction: column;
    width: 90%;

    &>mat-form-field,  &>mat-form-field{
      width: 13rem;
    }
  }

}


.buttonIcon{
  margin: 0.30rem;
  height: 1.3rem;
  border-radius: 5px;
  padding: 0.30rem 0.30rem 0.30rem 0.30rem;
  cursor: pointer;
}
.iconos{
  width: 1.1rem;
  height: 1.1rem;
  margin: auto;
}
