.contenedor-add-task{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &>div{
  }
}
.buttonIcon{
  margin: 0.50rem 0rem 0.50rem 0rem;
  width: 70%;
  background: rgba(26, 255, 0, 0.55);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.30rem 0rem 0.30rem 0rem;
}
.iconos{
  color: rgb(16, 147, 0);
  width: 1.4rem;
  height: 1.4rem;
  margin: auto;
}
