<section class="contenedor-add-task">
  <a (click)="this.Agregartarea = true" class="buttonIcon">
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="12" y1="8" x2="12" y2="16"></line>
      <line x1="8" y1="12" x2="16" y2="12"></line>
    </svg>
  </a>
  <div *ngIf="this.habilitarTask">
    <span *ngFor="let task of this.task">
      <app-task [task]="task" [idUser]="this.idUser" (close)="this.TraerTaskInUser()"></app-task>
    </span>
  </div>
</section>

<app-agregar-task *ngIf="this.Agregartarea" (close)="this.Agregartarea = false; this.TraerTaskInUser()" [idUser]="this.idUser"></app-agregar-task>
