<section class="contenedor-signin">
  <div class="contenedor-signin-card">
    <h2>Registarce</h2>
    <form (submit)="iniciarSecion()" #form="ngForm">
      <input type="text" placeholder="Nombre" [(ngModel)]="this.User.nombre" [ngModelOptions]="{standalone: true}">
      <input type="text" placeholder="Apellido" [(ngModel)]="this.User.apellido" [ngModelOptions]="{standalone: true}">
      <input type="text" placeholder="Mail" [(ngModel)]="this.User.email" [ngModelOptions]="{standalone: true}">
      <input type="password" placeholder="Contraceña" [(ngModel)]="this.User.password" [ngModelOptions]="{standalone: true}">
      <button type="submit">Registrarse</button>
    </form>
    <div class="rediriguir-signup">
      Si ya contienes una cuenta
      <a routerLink="/signin" routerLinkActive="true">
        iniciar secion
      </a>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
