@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');
$color1: #4b7bec;
$color2: #2c68f3;
.contenedor-cuenta{
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  &>div{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &>form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: Nunito;

      &>input, &>div, &>textarea{
        width: 30rem ;
        border-radius: 3px;
        outline-style: none;
        margin: 0rem 0rem 0.30rem 0rem;
      }

      &>input{
        border: 1px solid #6d6d6d;
        height: 1.5rem ;
      }

      &>textarea{
        resize: none;
      }

      &>button{
        padding: 0.50rem;
        background: $color1;
        border: none;
        color: #ffffff;
        border-radius: 3px;
        margin-top: 0.30rem;
        cursor: pointer;
      }

      &>button:hover{
        background: $color2;
      }
    }
  }
}
