<section class="contenedor-cuenta">
  <div>
    <form (submit)="GuardarDatos()" #form="ngForm" >
      <h2>Cuenta</h2>
      <div>
        <label>Nombre:</label>
      </div>
      <input type="text" placeholder="Nombre" [(ngModel)]="this.user.nombre" [ngModelOptions]="{standalone: true}">
      <div>
        <label>Apellido:</label>
      </div>
      <input type="text" placeholder="Apellido" [(ngModel)]="this.user.apellido" [ngModelOptions]="{standalone: true}">
      <div>
        <!-- Email -->
        <label>Email: {{this.user.email}}</label>
      </div>
      <div>
        <label>Descripcion:</label>
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Descripcion" [(ngModel)]="this.user.description" [ngModelOptions]="{standalone: true}"></textarea>
      <button type="submit">Guardar cambios</button>
    </form>
  </div>
</section>
