@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
$color1: #4b7bec;
$color2: #2c68f3;
.contenedor-card-task{
  margin: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 8rem;
  width: 50rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &>input{
    display: inline-block;
    margin: 0rem 1.5rem 0rem 1.5rem;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
  }
}

input, textarea{
  outline-style: none;
  border: none;
  background: rgba(236, 235, 235, 0.11);
  border-radius: 3px;
}
input:focus, textarea:focus{
  background: rgba(236, 235, 235, 0.45);
}

.color-stado{
  width: 5px;
  height: 80%;
  border-radius: 100px;
  display: inline-block;
  margin-right: 0.70rem;
}
.stado_importante{
  background: #E8384F;
  box-shadow: 0px 0px 5px 0px rgba(232,56,79,1);
}

.stado_medio{
  background: #FD612C;
  box-shadow: 0px 0px 5px 0px rgba(253, 97, 44, 1);
}

.stado_bajo{
  background: #FD9A00;
  box-shadow: 0px 0px 5px 0px rgba(253, 154, 0, 1);
}

.stado_ninguno{
  background: #828282;
  box-shadow: 0px 0px 5px 0px rgba(130, 130, 130, 1);
}

.contenedor-info{
  height: 90%;
  width: 100%;
  display: inline-block;
  &>input{
    font-family: Nunito;
    font-weight: 800;
    display: block;
    width: 95%;
    margin: 0.30rem;
  }
  &>textarea{
    font-family: Nunito;
    font-weight: 400;
    margin: 0.30rem;
    display: block;
    width: 95%;
    height: 3rem;
    resize: none;
  }
}

.contenedor-icon{
  display: block;
}

.buttonIcon{
  height: 1.3rem;
  border-radius: 5px;
  padding: 0.30rem 0.30rem 0.30rem 0.30rem;
  cursor: pointer;
}
.iconos{
  width: 1rem;
  height: 1rem;
  margin: auto;
}
