<div class="contenedor-card-task">
  <input type="checkbox" (click)="Completado()" [(ngModel)]="this.task.completado" [ngModelOptions]="{standalone: true}">
  <div class="color-stado stado-ninguno" [ngClass]="{stado_ninguno: this.task.estados == 0, stado_importante: this.task.estados == 1, stado_medio: this.task.estados == 2, stado_bajo: this.task.estados == 3}"></div>
  <div class="contenedor-info">
    <input type="text" placeholder="Titulo" [(ngModel)]="this.task.titulo" [ngModelOptions]="{standalone: true}">
    <textarea placeholder="Descripcion" [(ngModel)]="this.task.descripcion" [ngModelOptions]="{standalone: true}"></textarea>
    <div class="contenedor-icon">
      <a (click)="this.Eliminar = true" class="buttonIcon">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <polyline points="3 6 5 6 21 6"></polyline>
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
      </a>

      <a (click)="this.Modificar = true" class="buttonIcon">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
          <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>

<app-modificar-task *ngIf="this.Modificar" (close)="this.Modificar = false; this.close.emit(null)" [task]="this.task"></app-modificar-task>

<app-eliminar-task *ngIf="this.Eliminar" (close)="this.Eliminar = false; this.close.emit(null)" [idTask]="this.task._id" [idUser]="this.idUser"></app-eliminar-task>
