<div class="contenedor-modificar">
  <div class="contenedor-card-task">
    <h2>¿Estas seguro que quieres eliminar la tarea?</h2>
    <p>Si eliminas esta esta tarea no se va a poder revertir los cambios</p>
    <div>
      <a (click)="EliminarTask()">Si! Eliminalo</a>
      <a (click)="this.close.emit(null)" >Cancelar</a>
    </div>
  </div>
</div>
