@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
$color1: #4b7bec;
$color2: #2c68f3;

.contenedor-modificar{
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  background: rgba(203, 203, 203, 0.47);
  width: 100%;
  height: 100%;
}

h2, p, a{
  font-family: Nunito;
}

.contenedor-card-task{
  padding: 1rem;
  z-index: 30;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 30rem;
  height: 10rem;
  border-radius: 0.50rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  &>h2{
    color: #E8384F;
    font-weight: 600;
  }

  &>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    &>a{
      color: #ffffff;
      padding: 0.50rem;
      border-radius: 4px;
      margin: 0rem 0.50rem 0rem 0.50rem;
      cursor: pointer;
    }

    &>a:nth-child(1){
      background: #E8384F;
    }

    &>a:nth-child(2){
      background: #a0a0a0;
    }
  }
}
