.contenedor-header{
  display: flex;
  align-items: center;
  z-index: 0;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #a0a0a0;
  a{
     margin-left: 3rem;
    &:hover{
      background: #f3f3f3;
    }
    &:active{
      border: none;
    }
  }
  svg{
    color: #2b2b2b;
  }
}

.buttonIcon{
  height: 1.3rem;
  border-radius: 5px;
  padding: 0.30rem 0.30rem 0.30rem 0.30rem;
  cursor: pointer;
}

.iconos{
  width: 1.3rem;
  height: 1.3rem;
  margin: auto;
}

.sidebar{
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 20rem;
  height: 100rem;
  background: #ffffff;
  border-right: 1px solid #d9d9d9;
}

.habilitar{
  display: inline;
}

.nohabilitar{
  display: none;
}

.headerSideBar{
  width: 100%;
  height: 4rem;
  background: #4b7bec;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  a{
    margin-right: 1rem;
    &:hover{
      background: #2c68f3;
    }
  }
  svg{
    color: #ffffff;
  }
}

.contenedor-button{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.50rem;
  a{
    cursor: pointer;
    margin: 0.30rem 0rem 0.30rem 0rem;
    color: #2b2b2b;
    padding: 0.70rem 0.70rem 0.10rem 3rem;
    border-radius: 0px 50px 50px 0px;

    &:hover{
      background: #f3f3f3;
      color: #ffffff;
      background: #4b7bec;
    }
    &:active{
      border: none;
      color: #ffffff;
      background: #2c68f3;
    }
    p{
      display: inline-block;
    }
    svg{
      margin-right: 0.30rem;
    }
  }
}
