<div>
  <header *ngIf="!this.habilitar"  class="contenedor-header">
    <a (click)="sidebar = !sidebar" class="buttonIcon">
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </a>
  </header>

  <nav class="sidebar" [ngClass]="{habilitar: sidebar, nohabilitar: !sidebar}" >
    <div class="headerSideBar">
      <a (click)="sidebar = !sidebar" class="buttonIcon">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </a>
    </div>
    <!-- routerLink="/home" routerLinkActive="active" -->
    <div class="contenedor-button">
      
      <a (click)="sidebar = !sidebar" routerLink="/tarea" routerLinkActive="active">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <line x1="17" y1="10" x2="3" y2="10"></line>
          <line x1="21" y1="6" x2="3" y2="6"></line>
          <line x1="21" y1="14" x2="3" y2="14"></line>
          <line x1="17" y1="18" x2="3" y2="18"></line>
        </svg>
        <p>Tarea</p>
      </a>

      <a (click)="sidebar = !sidebar" routerLink="/cuenta" routerLinkActive="active">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="iconos">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <p>Cuenta</p>
      </a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
